<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='form_style.css') }}">
    <title>Login</title>
</head>
<body>
    <form action="/auth" method="POST">
        <h2>Login</h2>
        <p>Username: <input type="text" name="username" /></p>
        <p>Password: <input type="password" name="password" /></p>
        
        <!-- Radio buttons for login or signup -->
        <div class="radio-buttons">
            <div>
                <input type="radio" id="login" name="action" value="login" checked>
                <label for="login">Login</label>
            </div>
            <div>
                <input type="radio" id="signup" name="action" value="signup">
                <label for="signup">Create New Account</label>
            </div>
        </div>
    
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>