<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Finder</title>
</head>
<body>
    <h1>Welcome to Recipe Finder</h1>
    <form action="/search" method="POST">
        <label for="ingredient_name">Enter an ingredient:</label>
        <input type="text" id="ingredient_name" name="ingredient_name" required>
        <button type="submit">Search</button>
    </form>
    <div>
        <button class="btn" onclick="window.location.href='user_page.html'">Go to user profile</button>
    </div>
</body>
</html>
