<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe['Recipe Name'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='RecipeStyle.css') }}">
</head>
<body>
    <div class="go-back-container">
        <a href="{{ url_for('index') }}">Go Back to Search</a>
    </div>

    <h1>{{ recipe['Recipe Name'] }}</h1>
    <p>Time: {{ recipe['Time'] }}</p>
    
    <div class="container">
        <div class="ingredients-container">
            <h2>Ingredients:</h2>
            <ul>
                {% for ingredient in recipe['Ingredients'] %}
                    <li>{{ ingredient['Ingredient'] }} - {{ ingredient['Quantity'] }} {{ ingredient['Unit'] }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="instructions-container">
            <h2>Instructions:</h2>
            <ul>
                {% for instruction in recipe['Instructions'] %}
                    <li>{{ instruction }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if recipe['Image'] %}
        <img src="{{ url_for('static', filename=recipe['Image'][7:]) }}" alt="{{ recipe['Recipe Name'] }} image">
    {% endif %}

    <h2>Upload Your Food Image</h2>
    <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="recipe_name" value="{{ recipe['Recipe Name'] }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <input type="submit" value="Upload">
    </form>

    <div class="logo-container">
        CookEase
    </div>
</body>
</html>
